.card {
  background-color: $main-color;
  border: solid 0.125rem $accent-color;
  border-radius: 0.5rem;
  padding: 0.5rem;

  @media (min-width: $tablet) {
    padding: 1rem;
    border-width: 0.25rem;
  }
}
