//variables
@import "./variables";
//utilities
@import "./utilities";
//reusable components
@import "./reusables/card";
@import "./reusables/card-stack";
@import "./reusables/progress-segment";
//unique components
@import "./components/moves-container";
@import "./components/head-container";
@import "./components/stat-container";

body {
  margin: 0;
  background-color: $background-color;
  font-family: $font-family;
  font-weight: $medium;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
