@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
.tiny {
  font-weight: 200;
  font-size: 70%;
}

.thin {
  font-weight: 200;
  font-size: 90%;
}

.bold {
  font-weight: 600;
}

.p-025 {
  padding: 0.125rem !important;
}

.py-025 {
  padding-bottom: 0.125rem !important;
  padding-top: 0.125rem !important;
}

.px-025 {
  padding-right: 0.125rem !important;
  padding-left: 0.125rem !important;
}

.pr-025 {
  padding-right: 0.125rem !important;
}

.pl-025 {
  padding-left: 0.125rem !important;
}

.pt-025 {
  padding-top: 0.125rem !important;
}

.pb-025 {
  padding-bottom: 0.125rem !important;
}

.m-025 {
  margin: 0.125rem !important;
}

.my-025 {
  margin-bottom: 0.125rem !important;
  margin-top: 0.125rem !important;
}

.mx-025 {
  margin-right: 0.125rem !important;
  margin-left: 0.125rem !important;
}

.mr-025 {
  margin-right: 0.125rem !important;
}

.ml-025 {
  margin-left: 0.125rem !important;
}

.mt-025 {
  margin-top: 0.125rem !important;
}

.mb-025 {
  margin-bottom: 0.125rem !important;
}

.p-05 {
  padding: 0.5rem !important;
}

.py-05 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.px-05 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.pr-05 {
  padding-right: 0.5rem !important;
}

.pl-05 {
  padding-left: 0.5rem !important;
}

.pt-05 {
  padding-top: 0.5rem !important;
}

.pb-05 {
  padding-bottom: 0.5rem !important;
}

.m-05 {
  margin: 0.5rem !important;
}

.my-05 {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}

.mx-05 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mr-05 {
  margin-right: 0.5rem !important;
}

.ml-05 {
  margin-left: 0.5rem !important;
}

.mt-05 {
  margin-top: 0.5rem !important;
}

.mb-05 {
  margin-bottom: 0.5rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.py-1 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.px-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.my-1 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.mx-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.p-15 {
  padding: 1.5rem !important;
}

.py-15 {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}

.px-15 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.pr-15 {
  padding-right: 1.5rem !important;
}

.pl-15 {
  padding-left: 1.5rem !important;
}

.pt-15 {
  padding-top: 1.5rem !important;
}

.pb-15 {
  padding-bottom: 1.5rem !important;
}

.m-15 {
  margin: 1.5rem !important;
}

.my-15 {
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
}

.mx-15 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mr-15 {
  margin-right: 1.5rem !important;
}

.ml-15 {
  margin-left: 1.5rem !important;
}

.mt-15 {
  margin-top: 1.5rem !important;
}

.mb-15 {
  margin-bottom: 1.5rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.py-2 {
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
}

.px-2 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.my-2 {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.mx-2 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.p-3 {
  padding: 3rem !important;
}

.py-3 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}

.px-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.my-3 {
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}

.mx-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.p-4 {
  padding: 4rem !important;
}

.py-4 {
  padding-bottom: 4rem !important;
  padding-top: 4rem !important;
}

.px-4 {
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.my-4 {
  margin-bottom: 4rem !important;
  margin-top: 4rem !important;
}

.mx-4 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

@media (min-width: 768px) {
  .d-tablet-none {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .d-tablet-block {
    display: block !important;
  }
}

@media (min-width: 1024px) {
  .d-laptop-none {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .d-laptop-block {
    display: block !important;
  }
}

@media (min-width: 1440px) {
  .d-desktop-none {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .d-desktop-block {
    display: block !important;
  }
}

.d-none {
  display: none;
}

.normal {
  color: #9199a1;
}

.normal-border {
  border: solid #9199a1 0.125rem;
}
@media (min-width: 768px) {
  .normal-border {
    border-width: 0.25rem;
  }
}

.fighting {
  color: #cc426a;
}

.fighting-border {
  border: solid #cc426a 0.125rem;
}
@media (min-width: 768px) {
  .fighting-border {
    border-width: 0.25rem;
  }
}

.flying {
  color: #90a9db;
}

.flying-border {
  border: solid #90a9db 0.125rem;
}
@media (min-width: 768px) {
  .flying-border {
    border-width: 0.25rem;
  }
}

.poison {
  color: #aa6dc6;
}

.poison-border {
  border: solid #aa6dc6 0.125rem;
}
@media (min-width: 768px) {
  .poison-border {
    border-width: 0.25rem;
  }
}

.ground {
  color: #d7774c;
}

.ground-border {
  border: solid #d7774c 0.125rem;
}
@media (min-width: 768px) {
  .ground-border {
    border-width: 0.25rem;
  }
}

.rock {
  color: #c6b68d;
}

.rock-border {
  border: solid #c6b68d 0.125rem;
}
@media (min-width: 768px) {
  .rock-border {
    border-width: 0.25rem;
  }
}

.bug {
  color: #91bf3a;
}

.bug-border {
  border: solid #91bf3a 0.125rem;
}
@media (min-width: 768px) {
  .bug-border {
    border-width: 0.25rem;
  }
}

.ghost {
  color: #536baa;
}

.ghost-border {
  border: solid #536baa 0.125rem;
}
@media (min-width: 768px) {
  .ghost-border {
    border-width: 0.25rem;
  }
}

.steel {
  color: #5c8ea0;
}

.steel-border {
  border: solid #5c8ea0 0.125rem;
}
@media (min-width: 768px) {
  .steel-border {
    border-width: 0.25rem;
  }
}

.fire {
  color: #fd9c5b;
}

.fire-border {
  border: solid #fd9c5b 0.125rem;
}
@media (min-width: 768px) {
  .fire-border {
    border-width: 0.25rem;
  }
}

.water {
  color: #5091d3;
}

.water-border {
  border: solid #5091d3 0.125rem;
}
@media (min-width: 768px) {
  .water-border {
    border-width: 0.25rem;
  }
}

.grass {
  color: #66ba60;
}

.grass-border {
  border: solid #66ba60 0.125rem;
}
@media (min-width: 768px) {
  .grass-border {
    border-width: 0.25rem;
  }
}

.electric {
  color: #f2d14b;
}

.electric-border {
  border: solid #f2d14b 0.125rem;
}
@media (min-width: 768px) {
  .electric-border {
    border-width: 0.25rem;
  }
}

.psychic {
  color: #f77278;
}

.psychic-border {
  border: solid #f77278 0.125rem;
}
@media (min-width: 768px) {
  .psychic-border {
    border-width: 0.25rem;
  }
}

.ice {
  color: #77cec0;
}

.ice-border {
  border: solid #77cec0 0.125rem;
}
@media (min-width: 768px) {
  .ice-border {
    border-width: 0.25rem;
  }
}

.dragon {
  color: #166fc1;
}

.dragon-border {
  border: solid #166fc1 0.125rem;
}
@media (min-width: 768px) {
  .dragon-border {
    border-width: 0.25rem;
  }
}

.dark {
  color: #5a5365;
}

.dark-border {
  border: solid #5a5365 0.125rem;
}
@media (min-width: 768px) {
  .dark-border {
    border-width: 0.25rem;
  }
}

.fairy {
  color: #ea92e4;
}

.fairy-border {
  border: solid #ea92e4 0.125rem;
}
@media (min-width: 768px) {
  .fairy-border {
    border-width: 0.25rem;
  }
}

.border {
  border-radius: 0.5rem;
  border: solid gray 0.125rem;
}
@media (min-width: 768px) {
  .border {
    border-width: 0.25rem;
  }
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .card {
    padding: 1rem;
    border-width: 0.25rem;
  }
}

.card-stack {
  height: 95vh;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  row-gap: 1rem;
}
@media (min-width: 768px) {
  .card-stack {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .card-stack {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
  }
}

.progress-segment {
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  align-items: center;
}

.progress-segment-reverse {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  align-items: center;
}

.type-bubble-head {
  height: 1.25rem;
  width: 1.25rem;
}

.type-bubble-move {
  height: 2rem;
  width: 2rem;
}

.type-bubble-headline {
  height: 1.5rem;
  width: 1.5rem;
}

.subline {
  display: flex;
  justify-content: space-between;
}

.moves-container {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  row-gap: 0.5rem;
  justify-content: space-between;
}
.moves-container .moves-card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
}
@media (min-width: 768px) {
  .moves-container .moves-card {
    padding: 1rem;
    border-width: 0.25rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}

.head-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: start;
}
@media (min-width: 768px) {
  .head-container {
    grid-template-columns: 1fr;
  }
}
.head-container .head-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head-container .pokemon-img {
  height: 5rem;
  width: 5rem;
}
@media (min-width: 768px) {
  .head-container .pokemon-img {
    justify-self: center;
    height: 10rem;
    width: 10rem;
  }
}
@media (min-width: 1024px) {
  .head-container .pokemon-img {
    height: 15rem;
    width: 15rem;
  }
}
.head-container .fainted {
  filter: grayscale(100%);
}

.stats-container {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-items: flex-start;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .stats-container {
    grid-template-columns: 1fr 1fr;
  }
}
.stats-container .stat-row {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
}
@media (min-width: 768px) {
  .stats-container .stat-row {
    grid-template-columns: 1fr 1fr 3fr;
  }
}

body {
  margin: 0;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=main.css.map */